* {
  /* border: 2px dotted black; */
}

.bold {
  font-weight: 700;
}

.underline {
  /* text-decoration: underline; */
  font-weight: bold;
}

body {
  background-color: white;
  font-size: 120%;
  font-family: 'Gentium Basic', 'Palatino', 'Garamond', 'Times';
}

.inner-pre {
  font-size: 125%;
}

hr {
  margin: 0;
  border-top: 4px double #a3a3a3;
}

.selected-button-span {
  font-size: 60%;
}

a {
  color: #8f0000;
}

a:hover, a:active, a:visited {
  color: #8f0000;
  text-decoration: underline;
}

.container {
  margin-top: 7%;
  margin-bottom: 2%;
}

.img-md {
  max-height: 125px;
  height: auto;
  width: auto;
}

.img-xs {
  max-width: 125px;
  padding: 0em 0em 0em 3em;
}

.img-col {
  padding: 0 2em 0.5em 2em;
  margin-top: -0.5em;
}

.social-links {
  margin: 0;
  font-size: 1.5em;
}

.social-links-xs a {
  font-size: 1.15em;
  padding: 0 0.05em 0 0 !important;
}

.email {
  font-size: 0.75em;
  background-color: white;
  color: black;
}

/* name */
.header {
  font-size: 1.8em;
  font-weight: 700;
  margin: 0;
}

.header-xs {
  font-size: 3em;
  font-weight: 700;
  margin: 0;
  margin-bottom: -1%;
}

/* work abbrv */
.bio-subheader {
  font-size: 1.1em;
  margin-top: -0.25em;
  margin-bottom: 0em;
}

.bio-subheader-xs {
  font-size: 1.9em;
  padding-bottom: 0;
  margin-bottom: 0;
}

/* Section titles */
.subheader-row {
  margin-top: 3%;
}

.subheader {
  font-size: 2.25em;
  font-weight: bold;
  padding-bottom: 0.25em;
}

/* social links base */
.header-right {
  text-align: right;
  font-size: 2em;
  margin-top: 1%;
}

.content-row i {
  padding: 0.5%;
  color: #8f0000;
}

/* for hr after header row */
/* .content-row {
  margin-top: 1.05em;
} */

/* name etc */
.content-col {
  padding: 0;
  font-size: 1.5em;
}

.content-inner-row {
  margin-bottom: 1.75em;
}

/* bio */
.about-content-div {
  font-size: 1.67em;
  margin-bottom: 0em;
  text-align: justify;
}

.about-content-div p {
  margin-bottom: 1.01em;
}

/* papers */
.paper-div {
  font-size: 1.65em;
  line-height: 1.35em;;
  margin-bottom: 4%;
}

.paper-info {
  margin: 0;
}

.paper-authors {
  font-size: 0.96em;
}

.paper-venue {
  font-style: italic;
  font-size: 0.97em;
}

.paper-venue-abbrv {
  font-size: 0.95em;
}

.paper-venue-abbrv a {
  font-weight: 700;
  color: black;
}

.paper-venue-workshop a {
  color: rgb(119, 119, 119);
}

.paper-venue-workshop {
  color: rgb(119, 119, 119);
  font-size: 0.95em;
}

.paper-abstract {
  padding: 1% 2% 0% 1%;
  font-size: 0.95em;
}

blockquote {
  text-align: justify;
  font-size: 0.9em;
  line-height: 1.35em;
  padding: 0.5% 2% 0.5% 2%;
  color: #686868;
}

.paper-button, .paper-button:visited, .paper-button:active {
  color: #8f0000 !important;
  text-decoration: none !important;
  border: 1px solid #8f0000;
  border-radius: 5%;
  font-size: 0.75em;
  padding: 0.3% 0.7% 0.3% 0.7%;
  margin: 0 0.4% 0 0.1%;
}

.shields {
  opacity: 0.85;
  filter: brightness(120%);
}

.paper-bib {
    background-color: #f9f9f9; /* Light grey background */
    border: 1px solid #ddd; /* Light grey border */
    border-radius: 5px; /* Rounded corners */
    font-family: 'Courier New', monospace; /* Monospace font */
    overflow: auto; /* Adds scroll bar if the content overflows */
    white-space: nowrap; /* Preserves spaces and line breaks */
  }

@media(hover:hover) {
  .paper-button:hover {
    color: #fffff8 !important;
    background-color: #8f0000 !important;
    text-decoration: none;
  }

}

@media(hover:none) {
  .paper-button a, .paper-button a:hover {
    color: #fffff8 !important;
    background-color: #8f0000 !important;
    text-decoration: none !important;
  }

}

@media(max-width:767px) {
  .header-row {
    font-size: 0.85em;
  }

  .header-right {
    text-align: left;
  }

  .header-right a {
    padding: 3%;
    padding-left: 0;
  }

  .social-links {
    margin: 0;
  }

  @media(max-width:370px) {

    .img-xs {
      display: none;
    }

    .hidden-xxs {
      display: none;
    }
  }
}

