* {
  border: 1px dotted black;
}

body {
  background-color: #fffffa;
  font-size: 125%;
  font-family: 'Gentium Basic', 'Palatino', 'Garamond', 'Times';
}

hr {
  margin: 0;
  border-top: 4px double #a3a3a3;
}

a {
  color: #8f0000;
}

a:hover, a:active, a:visited {
  color: #8f0000;
  text-decoration: underline;
}

.container {
  margin-bottom: 2%;
}

.img-md {
  max-height: 330px;
  height: auto;
  width: auto;
}

.img-xs {
  max-width: 150px;
  padding: 3%;
}

.img-col {
  margin-top: 0%;
}

.img-div {
  padding: 2% 5% 2% 5%;
}

.social-links {
  margin: 0 0 0 0;
  font-size: 0.65em;
}

.header-row {
  margin-top: 4%;
}

.subheader-row {
  margin-top: 2%;
}

.header-xs {
  font-size: 3em;
  font-weight: 700;
  margin: 0;
  margin-bottom: -1%;
}

.header {
  font-size: 1.75em;
  font-weight: 700;
  margin: 0;
}

.subheader {
  font-size: 2.25em;
  font-weight: bold;
  padding-bottom: 0;
}

.header-right {
  text-align: right;
  font-size: 2em;
  margin-top: 1%;
}

.header-right a {
  padding: 4%;
  padding-right: 0;
}

.header-row i {
  color: #8f0000;
}

.content-row i {
  padding: 1%;
  color: #8f0000;
}

.content-row {
  margin-top: 1.1em;
}

.content-inner-row {
  padding-bottom: 2%;
}

.content-col {
  font-size: 1.62em;
  text-align:  left;
}

.paper-div {
  font-size: 1.62em;
  line-height: 1.3em;;
  margin-bottom: 4%;
}

.bold {
  font-weight: 700;
}

.underline {
  text-decoration: underline;
}

.paper-venue {
  font-style: italic;
  font-size: 0.98em;
}

.paper-info {
  margin: 0;
  font-size: 0.95em;
}

.paper-abstract {
  padding: 1% 2% 0% 1%;
  font-size: 0.95em;
}

.paper-venue-abbrv {
  font-size: 0.96em;
}

.paper-venue-abbrv a {
  font-weight: 700;
  color: black;
}

blockquote {
  text-align: justify;
  font-size: 0.9em;
  line-height: 1.35em;
  padding: 0.5% 2% 0.5% 2%;
  color: #686868;
}

.paper-button, .paper-button:visited, .paper-button:active {
  color: #8f0000 !important;
  text-decoration: none !important;
  border: 1px solid #8f0000;
  border-radius: 5%;
  font-size: 0.75em;
  padding: 0.3% 0.7% 0.3% 0.7%;
  margin: 0 0.4% 0 0.1%;
}

.shields {
  opacity: 0.65;
  filter: brightness(120%);
}

.blogposts-row {
  font-size: 1.6em;
  padding: 0 0 1% 0;
}

.blogpost-date {
  margin-right: 1.01em;
}

.blogpost-col div {
  display: inline-block;
}

.blog-row {
  margin-bottom: 4%;
}

@media(hover:hover) {
  .paper-button:hover {
    color: #fffff8 !important;
    background-color: #8f0000 !important;
    text-decoration: none;
  }

}


@media(hover:none) {
  .paper-button a, .paper-button a:hover {
    color: #fffff8 !important;
    background-color: #8f0000 !important;
    text-decoration: none !important;
  }

}


@media(max-width:767px) {
  .header-row {
    font-size: 0.9em;
  }

  .header-right {
    text-align: left;
  }

  .header-right a {
    padding: 3%;
    padding-left: 0;
  }

  .social-links {
    margin: 0;
  }

  @media(max-width:370px) {


    .img-xs {
      display: none;
    }

    .last-name {
      display: none;
    }
  }
}
