<div class="content-div">
    <p class="content">
        Hi, I study <a href="{{csuiuc}}" target="_blank">cs and stats</a> at <a href="{{uiuc}}" target="_blank">uiuc</a>.

        Currently, I'm a research assistant working on <a href="{{networks}}" target="_blank">network modeling</a> and
        <a href="{{matching}}" target="_blank">graph matching</a>. I previously interned at <a href="{{akuna}}" target="_blank">akuna capital</a>.
    </p>

    <p class="content">
        <a ng-href="{{twitter}}" target="_blank">twitter</a> //
        <a ng-href="{{linkedin}}" target="_blank">linkedin</a>  //
        <a ng-href="{{mailto}}" target="_blank">email</a> //
        <a ng-href="{{px}}" target="_blank">500px</a>
    </p>
    
</div>
