<div class="content-div">
    <p class="content">
        I study <a href="{{csuiuc}}" target="_blank">Computer Science and Statistics</a>
        at the <a href="{{uiuc}}" target="_blank">University of Illinois at Urbana-Champaign</a>.
        I expect to graduate in 2018. I enjoy <a href="{{goodreads}}" target="_blank">reading</a> and 
        <a href="{{github}}" target="_blank">programming</a>.
    </p>         
    <p class="content">
        Recently, I worked at <a href="{{akuna}}" target="_blank">Akuna Capital</a> as a software engineering
        intern and at the <a href="{{timan}}" target="_blank">Text Information Management and Analysis Group</a>
        as a research assistant.
    </p>
    <p class="hidden-md hidden-lg content">
        Feel free to <a href="{{email}}" target="_blank">email</a> or get in touch 
        on <a href="{{linkedin}}" target="_blank">LinkedIn</a>.
    </p> 
</div>