<div class="content-div">
    <p class="content">
        I study <a href="{{csuiuc}}" target="_blank">computer science and statistics</a>
        at the <a href="{{uiuc}}" target="_blank">university of illinois at urbana-champaign</a>.
        I expect to graduate in 2018. I like <a href="{{goodreads}}" target="_blank">reading</a> and
        <a href="{{github}}" target="_blank">programming</a>.
    </p>
    <p class="content">
        I'm currently working on attributed network growth models as a research assistant in the <a href="{{crowd}}" target="_blank">crowd dynamics group</a>. 
        I've previously worked at <a href="{{akuna}}" target="_blank">akuna capital</a> as a software engineering
        intern and at the <a href="{{timan}}" target="_blank">text information management and analysis group</a>
        as a research assistant.
    </p>
    <p class="hidden-md hidden-lg content">
        Feel free to <a href="{{email}}" target="_blank">email</a> or get in touch
        on <a href="{{linkedin}}" target="_blank">linkedin</a> or <a href="{{twitter}}" target="_blank">twitter</a>.
    </p>
</div>
