<div class="content-div">
    <p class="content">
        I began programming in 2013 and started working on small projects
        shortly after. Most of them are on <a href="{{github}}">Github</a>. Here
        are a few notable ones.
    </p>
</div>

<div class="content-div">
    <div ng-repeat="project in projects" class="content project">
        <p class="project-name"><span><a href="#">{{project[0]}}</a></span></p>
        <p class="project-description">{{project[1]}}</p>
    </div>
</div>