/** { border: 1px dotted grey;}*/

body {
    font-family: "Consolas";
    background-color: white;
 }

 ::-webkit-scrollbar {
     display: none;
 }

.nomargin  { margin: 0 !important; }

/*text*/

a, a:hover, a:visited {
    text-decoration: none;
    font-weight: 500;
}

.sidebar-col a, .nav-col a {
    text-decoration: none;
    color: #696969;
    font-weight: 300;
}

.nav-li a:hover {
    border-bottom: none;
}

.nav-name {
    font-weight: 700;
    font-size: 1.4em;
}

.nav-ul {
    font-size: 1.15em;
    color: #696969;
}

.content {
    font-size: 1.15em;
    line-height: 1.6em;
    color: #767676;
}

.project-name span {
    color: black;
    font-weight: 500;
}

.active-nav-li {
    font-weight: 500 !important;
}


/*spacing, margin and padding*/

.nav-row {
    margin: 1% 0 0 0;
    padding: 1%;
}

.nav-name {
    padding: 2% 1% 1% 2%;
    margin: 0;
}

.nav-ul li {
    padding: 1% 1% 1% 2%;
    display: inline-block;
    font-weight: 300;
}

.nav-ul {
    border-bottom: 1px solid #DADADA;
}

.nav-sm-ul-div {
    width: 40%;
    padding: 2%;
}

.content {
    padding: 1% 3% 1% 3%;
    margin-bottom: 2%;
}

.content-col {
    margin-top: 5px;
}

.main-row {
    margin: 0;
    /*padding-bottom: 2%;*/
}

.project p {
    margin: 0;
    padding: 0;
}

/* media query for md and lg */

@media only screen and (min-width : 992px) {
    .content-div {
        /*margin-top: 3%;*/
    }
}

@media only screen and (min-width : 1300px){
    .content-div {
        /*margin-top: 5%;*/
    }
}
