/*default font and fadein*/
html {
    border-top: 2px solid black;
}

body {
    font-family: "Source Sans Pro";
    font-size: 1.85em;
    line-height: 1.85em;
    display: none;
}

/*padding*/
.body-container {
    padding: 6% 0 8% 0;
}

.projects-div > p {
    padding-bottom: 2%;
}

/*links*/
a {
    text-decoration: none;
    color: #000000;
    border-bottom: 1px solid #A9A9A9;
}

a:hover {
    text-decoration: none;
    color: #000000;
    border-bottom: 2px solid #000000;
}

a:visited {
    text-decoration: none;
}

/*helper functions*/
.bold {
    font-weight: 600;
    font-size: 1.1em;
}

.light {
    font-weight: 300;
}

/*media queries*/
@media handle, screen and (max-device-width: 500px) {
    body {
        padding: 10% 0 8% 0;
    }
}
